.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 42px;
  margin: 64px 1px 1px 1px;
  background-color: var(--green1);
  color: var(--white1);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.button:hover {
  width: 102px;
  height: 44px;
  margin: 62px 0px 0px 0px;
}
