.signin {
  width: 320px;
  height: 375px;
  border: 1px solid var(--green1);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.index {
  width: 320px;
  height: 150px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile {
  width: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.threads__container {
  width: 380px;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid var(--green1);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
}

.threads__container h3 {
  text-align: center;
}
