.singin__form {
  display: flex;
  align-items: center;
  width: 200px;
  height: 36px;
  border-bottom: 1px solid var(--black2);
  margin-top: 32px;
  margin-bottom: 36px;
}

.signin__form__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}
